extends layout.pug

block content
    h1 About Us
    p
    | Express Website solutions was founded with a single aim in mind. That is to
    | give you website solutions in an express fashion. We're obsessed! Perhaps
    | dangerously so...
