extends layout.pug

block content
    .jumbotron
      .container
        h1 #{title}
        p
          | welcome to Express website solutions. We have solutions for all of your website needs!
        p
          a.btn.btn-primary.btn-lg(href='/about', role='button') Learn more »
    .container
      .row
        .col-md-4
          h2 Website Design
          p
            | We can design websites that look awesome and stuff.
          p
            a.btn.btn-default(href='#', role='button') View details »
        .col-md-4
          h2 SEO
          p
            | We'll get you to the top of the google rankings so that people can buy rubbish from you rather than your competitors.
          p
            a.btn.btn-default(href='#', role='button') View details »
        .col-md-4
          h2 Over the top Javascript
          p
            | You want fancy graphics?! We've got all of the fancy graphics you need.
          p
            a.btn.btn-default(href='#', role='button') View details »
